// Colors
$body-bg: #F2F2F8;
$white: #fff;
$black: #000;
$main-color: #43435C;
$label-color: #babac5;
$menu-color: #323245;
$pink: #F05C67;
$green: #007F00;
$button-inactive: #e4e4e4;
$inactive-color: #c7c7c7;
$active-pagination: #908F9D;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
